html {
  scroll-behavior: smooth;
}

.navbar-brand p {
  font-family: 'Courier 10 Pitch Bold', Courier, 'Roboto', monospace !important;
}

.table-profile td, th {
  border: none !important;
}

.skills-content .media {
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  display: block;
}

.box {
  height: 100%;
}

.back-to-top {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.back-to-top .back-image {
  cursor: pointer;
  height: 50px;
  width: 300px;
  background: url("../images/wave.svg") no-repeat center 0;
  background-size: contain;
}

.article-container {
  max-width: 1100px;
}

.article-image {
  border: 1px solid #dcdfe4;
  border-radius: 5px;
}

.markdown p {
  margin-bottom: 1em;
}

.markdown h3 {
  font-size: 2rem;
}

.markdown h2 {
  font-size: 2.5rem;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.markdown li {
  margin-left: 1.5em;
  list-style-position: outside;
  padding-left: 1em;
}

.markdown ul {
  margin-bottom: 1.25rem;
  margin-left: 1.5em;
  list-style: disc;
}

.post-listing .post-meta a {
  position: relative;
}

.post-listing .post-meta a::after {
  width: 100%;
  height: 2px;
  background-color: #3273dc;
  position: absolute;
  content: ' ';
  left: 0;
  bottom: 0px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  border-radius: 15px;
}

.post-listing .post-meta a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.hero .navbar .navbar-burger {
  margin-right: auto;
}

.bio-section {
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
          box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  border-radius: .25rem;
}

.bio-section .card {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile-picture {
  border-radius: 0;
}

.profile-picture .card-image {
  height: 100%;
}

.profile-picture .card-image figure {
  height: 100%;
}

/* Responzive styles */
@media (min-width: 769px) {
  .has-same-height .card {
    height: 320px;
    overflow: hidden;
  }
  .portfolio-item {
    overflow: hidden;
    margin: .75rem !important;
    padding: 0 !important;
    position: relative;
  }
  .portfolio-item:hover img {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .portfolio-item img {
    -webkit-transition-duration: .7s;
            transition-duration: .7s;
    position: relative;
    z-index: 100;
  }
  .portfolio-item .portfolio-desc {
    position: relative;
    top: -35%;
    height: 0;
    padding: 0 !important;
  }
}

@media (max-width: 769px) {
  .profile-picture img {
    height: 100%;
  }
}

@media (max-width: 769px) {
  .post-listing .post-meta > div, .post-listing .post-meta > a {
    width: 100%;
    text-align: center !important;
    margin-top: .6em !important;
  }
}
/*# sourceMappingURL=custom.css.map */