html {
  scroll-behavior: smooth;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 3em;
}

.box{
  height: 100%;
}

.back-to-top{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.back-to-top .shape{
  width: 60px;
  height: 40px;
  align-items: flex-end;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 40px solid red;
}

.back-to-top .back-image{
  cursor: pointer;
  height: 50px;
  width: 300px;
  background: url("images/wave.svg") no-repeat center 0;
  background-size: contain;
}

.article-container{
  max-width: 1100px;
}
.article-image{
  border: 1px solid #92B9F3;
  border-radius: 5px;
}

.markdown p {
  margin-bottom: 1em;
}
.markdown h3 {
  font-size: 2rem;
}
.markdown h2{
  font-size: 2.5rem;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: .5em;
}
.markdown li{
  margin-left: 1.5em;
  list-style-position: outside;
  padding-left: 1em;
}
.markdown ul{
  margin-bottom: 1.25rem;
  margin-left: 1.5em;
  list-style: disc;
}

.post-listing .title{
  margin-bottom: 1em;
}

.post-listing p{
  margin-bottom: 1em;
}

.post-listing .post-meta{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-listing .post-meta .tags{
  margin-bottom: 0;
  text-align: center;
}

.post-listing .post-meta a{
  position: relative;
}

.post-listing .post-meta a::after{
  width: 100%;
  height: 2px;
  background-color: hsl(217, 71%, 53%);
  position: absolute;
  content: ' ';
  left: 0;
  bottom: 0px;
  transform: scale(0,1);
  transition-duration: .3s;
}

.post-listing .post-meta a:hover::after{
  transform: scale(1,1);
}

.hero .navbar .navbar-burger{
  margin-right: auto;
}

.bio-section {
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
  border-radius: .25rem;
}
.bio-section .card{
  box-shadow: none;
}
.profile-picture{
  border-radius: 0;
}

.profile-picture .card-image{
  height: 100%;
}

.profile-picture .card-image figure{
  height: 100%;
}

.portfolio-item{
  margin: .75rem;
  padding: 0;
}

.portfolio-item .portfolio-desc{
  padding: .25em 0;
}

/* Responzive styles */
@media (min-width:769px) {
  .has-same-height .card {
    height: 320px;
    overflow: hidden;
  }

  .portfolio-item{
    overflow: hidden;
    margin: .75rem;
    padding: 0;
    position: static;
  }
  
  .portfolio-item img{
    transition-duration: .7s;
    position: relative;
    z-index: 100;
  }
  
  .portfolio-item:hover img{
    transform: translateY(-40%);
  }
  
  .portfolio-item .portfolio-desc{
    position: relative;
    top: -35%;
    height: 0;
    padding: 0;
  }
}

@media (max-width:769px) {
  .profile-picture img {
    height: 100%;
  }
}

@media (max-width:769px) {
  .post-listing .post-meta>div,.post-listing .post-meta>a{
    width: 100%;
    text-align: center;
    margin-top: .6em;
  }
}