
html {
  scroll-behavior: smooth;
}

.navbar-brand p{
  font-family: 'Courier 10 Pitch Bold', Courier, 'Roboto', monospace !important;
}

.table-profile td,th {
  border: none !important;
}

.skills-content {
  .media {
    border: 0 !important;
  }
  
  .progress {
    height: 4px !important;
  }
}

.custom-tags {
  display: block;
}

.box{
  height: 100%;
}

.back-to-top{
  position: fixed;
  bottom: 0;
  width: 100%;
  .back-image{
    cursor: pointer;
    height: 50px;
    width: 300px;
    background: url("../images/wave.svg") no-repeat center 0;
    background-size: contain;
  }
}

.article-container{
  max-width: 1100px;
}

.article-image{
  border: 1px solid #dcdfe4;
  border-radius: 5px;
}

.markdown {
  p {
    margin-bottom: 1em;
  }
  h3 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: .5em;
  }
  li {
    margin-left: 1.5em;
    list-style-position: outside;
    padding-left: 1em;
  }
  ul {
    margin-bottom: 1.25rem;
    margin-left: 1.5em;
    list-style: disc;
  }
} 

.post-listing {
  .post-meta {
    a {
      position: relative;
      &::after {
        width: 100%;
        height: 2px;
        background-color: $link;
        position: absolute;
        content: ' ';
        left: 0;
        bottom: 0px;
        transform: scale(0,1);
        transition-duration: .3s;
        border-radius: 15px;
      }
      &:hover::after {
        transform: scale(1,1);
      }
    }
  }
}

.hero .navbar .navbar-burger{
  margin-right: auto;
}

.bio-section {
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
  border-radius: .25rem;
  .card {
    box-shadow: none;
  }
}
 
.profile-picture{
  border-radius: 0;
  .card-image {
    height: 100%;
    figure {
      height: 100%;
    }
  }
}

/* Responzive styles */
@media (min-width:769px) {
  .has-same-height .card {
    height: 320px;
    overflow: hidden;
  }

  .portfolio-item{
    overflow: hidden;
    margin: .75rem !important;
    padding: 0 !important;
    position: relative;
    &:hover img {
      transform: translateY(-40%);
    }
    img {
      transition-duration: .7s;
      position: relative;
      z-index: 100;
    }
    .portfolio-desc{
      position: relative;
      top: -35%;
      height: 0;
      padding: 0 !important;
    }
  }
}

@media (max-width:769px) {
  .profile-picture img {
    height: 100%;
  }
}

@media (max-width:769px) {
  .post-listing .post-meta>div,.post-listing .post-meta>a{
    width: 100%;
    text-align: center !important;
    margin-top: .6em !important;
  }
}