@charset "utf-8";
//@import "bulma/bulma.sass";

// Set your brand colors
$color-primary: #31E89E;
$color-primary-light: #89F4C9;
$color-primary-dark: #00C878;
$color-secondary: #ffe436;
$color-secondary-light: #FFD68F;
$color-secondary-dark: #FFA100;
$color-tertiary: #4184E6;
$color-tertiary-light: #92B9F3;
$color-tertiary-dark: #0955C5;

// Custom configuration of Bulma
$primary: $color-primary-dark;
$link: $color-tertiary;

// Custom fonst import
@font-face {
  font-family: 'Courier 10 Pitch Bold';
  src: url("../fonts/Courier10PitchBold.ttf") format("truetype"),
  url("../fonts/Courier10PitchBold.woff") format('woff'),
  url("../fonts/Courier10PitchBold.eot"),
  url("../fonts/Courier10PitchBold.svg") format('svg');
}


@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "custom.scss";